<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lumar SRL</a>
      <ul class="nav navbar-nav">

          <li class="<%= 'active' if params[:controller] == 'home' %>">
              <a href="/"><span>Home</span></a>
          </li>          <li class="<%= 'active' if params[:controller] == 'productos' %>">
              <a href="/productos"><span>Productos</span></a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'proveedores' %>">
              <a href="/proveedores"><span>Proveedores</span></a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'marcas' %>">
              <a href="/marcas"><span>Marcas</span></a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'categorias' %>">
              <a href="/categorias"><span>Categorias</span></a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'modelos' %>">
              <a href="/modelos"><span>Modelos</span></a>
          </li>
      </ul>
    </div>
</nav>