<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="field">
        <%= f.label :descripcion %><br>
        <%= f.text_field :descripcion, autofocus: true , class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="field">
        <%= f.label :direccion %><br>
        <%= f.text_field :direccion , class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="field">
        <%= f.label :sucursal %><br>
        <%= f.text_field :sucursal , class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="field">
        <%= f.label :vendedor %><br>
        <%= f.text_field :vendedor , class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="field">
        <%= f.label :telefono %><br>
        <%= f.text_field :telefono , class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="field">
        <%= f.label :celular %><br>
        <%= f.text_field :celular , class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email , class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-10 col-md-3 col-lg-3">
      <div class="actions">
       <%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar',:class => 'btn btn-reset'%>
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
</br>

<div class="separador"></div>